.parallax-play {
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  padding: 0 0 100%;

  .description {
    position: relative;
    margin: 40px 100px 0;
    float: left;
    width: 360px;
    background: fade(@gray, 95%);
    color: white;
    box-shadow: 8px 8px 16px rgba(0,0,0,.3);

    @media @mobile {
      margin: 40px 40px 0 60px;
      width: ~"calc(100% - 100px)";
    }

    .numeral {
      @size: 32px;
      border-radius: 100%;
      // border: 2px solid @seaBlue;
      background: desaturate(@seaGreen, 20%);
      color: @seaBlue;
      position: absolute;
      top: -@size;
      left: -@size * 1.5;
      font-size: @size;
      font-family: @hed;
      line-height: @size * 2;
      text-align: center;
      width: @size * 2;
      height: @size * 2;
      box-shadow: 8px 8px 8px rgba(0,0,0,.4);
    }

    h3.rank {
      background: fade(@seaGreen, 75%);
      margin: 0 0 1em;
      padding: 5px 20px;
      font-family: @hed;
      font-weight: normal;
    }

    h1 {
      font-size: 20px;
      font-weight: normal;
      margin: 0 0 1em;
      padding: 0 20px;
      color: white;
      font-family: @hed;
    }

    .copy {
      padding: 0 20px;
      letter-spacing: .3px;
    }

    h2 {
      font-size: 16px;
      font-family: @hed;
      font-weight: normal;
      margin: 0 0 8px 0;
      text-transform: uppercase;
    }

    p {
      margin-top: 0;
    }

    blockquote {
      margin: 0;
      text-style: normal;
      display: inline;
    }

    cite {
      display: inline-block;
      font-style: normal;
      //text-transform: uppercase;
      font-size: 14px;
    }

    .read-more {
      display: block;
      text-align: right;
      font-size: 14px;
      margin-top: 10px;
    }

    .credit {
      text-transform: uppercase;
      font-size: 11px;
      color: @seaGray;
      text-align: right;
      padding: 20px 20px 10px 20px;
    }

    &.right {
      float: right;
    }
  }
}